<h1><%= Settings["page_title"] %></h1>

<p>This application has a <tt>config/settings.yml</tt> file, that can store app-global settings. They won't be editable via a configuration interface, these settings are merely developer-only settable stuff, such as API keys, system-wide messages etc.</p>

<p>Try it out for yourself! Open <tt>config/settings.yml</tt>, enter a <tt>system_message</tt>, restart the server and voila!</p>