<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title></title>
        <%= stylesheet_link_tag "application" %>
        <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js', 'jquery.livequery.js', 'jquery.form.js', 'application' %>
    </head>
    <body>
      <div id="main">
        <%= yield %>
      </div>
    </body>
</html>
