<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Print Views</title>
	<%= stylesheet_link_tag 'screen' %>
</head>
<body>
    <div id="main">
        <%= yield %>
        
        <p class="small"><%= link_to "Print this page", url_for(:format => :print) %></p>
    </div>
</body>
</html>
